@import 'variables';

.sidebar{
  background-color: $color-primary;  

  //placing sidebar in grid
  grid-column: sidebar-start / sidebar-end;
  //use all rows
  grid-row: 1 / -1;

  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  //change sidebar grid layout for tablets
  @media only screen and (max-width: $screen-md){
    //sidebar at the top all width
    grid-column: 1 / -1;
    //at fist row 
    grid-row: 1 / 2;
    
    justify-content: center;
    align-items: flex-end;
  }

}

.nav-btn{
  border:none;
  border-radius: 2px;

  background-color: $color-grey-light-1;
  height: 2px;
  width: 3rem;

  &::before,
  &::after{
    content: "";
    background-color: $color-grey-light-1;
    height: 2px;
    width: 3rem;
    display: block;
  }

  &::before{ transform: translateY(-1rem)};
  &::after{ transform: translateY(1rem)};

  //change sidebar grid layout for tablets
  @media only screen and (max-width: $screen-md){
    margin-top: 0;
    margin-right: 2rem;

  }
}
